In [1]:
import numpy as np
import pandas as pd

In [2]:
csv_data_path = 'https://raw.githubusercontent.com/turingplanet/pandas-intro/main/public-datasets/small_survey_results.csv'

In [3]:
survey_df = pd.read_csv(csv_data_path)

In [4]:
survey_df['WebframeWorkedWith']
framework_df = survey_df['WebframeWorkedWith'].str.split(';', expand = True)
framework_df
framework_df.fillna('None', inplace =True)
distinct_framework = np.unique(framework_df.values)
distinct_framework
country_groups = survey_df.groupby(['Country'])
country_groups['WebframeWorkedWith'].apply(lambda x: x.str.contains('jQuery').sum())
framework_sum_array = []
for framework in distinct_framework:
    new_df = country_groups['WebframeWorkedWith'].apply(lambda x: x.str.contains(framework).sum())
    new_df.name = framework
    framework_sum_array.append(new_df)
framework_sum_array
user_count = survey_df['Country'].value_counts()
user_count
concated_df = pd.concat([user_count]+framework_sum_array, axis = 'columns')
concated_df

,Country,ASP.NET,ASP.NET Core,Angular,Angular.js,Django,Drupal,Express,Flask,Gatsby,Laravel,None,React.js,Ruby on Rails,Spring,Symfony,Vue.js,jQuery
United States,182,41,35,48,30,12,3,22,20,9,5,0,51,10,12,2,21,53
India,141,22,12,41,28,16,3,17,19,2,12,0,30,5,16,2,9,50
Germany,55,4,3,13,5,3,0,6,3,0,2,0,9,2,8,1,7,16
United Kingdom,52,6,4,5,3,2,1,4,4,3,1,0,14,3,5,0,2,14
Brazil,36,3,1,7,2,3,0,8,4,0,2,0,10,3,6,1,6,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Venezuela, Bolivarian Republic of...",1,1,0,1,0,1,0,1,0,0,0,0,1,1,0,0,0,1
Ghana,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
Uruguay,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
Malaysia,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Somalia,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1